html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-family: "roboto", sans-serif;
}

h1, h2 {
  font-size: 1.5em;
  font-weight: 900;
  margin-bottom: 15px;
}

h3 {
  font-weight: 700;
  font-size: 1.2em;
  margin-bottom: 3px;
}

button {
  font-size: 1em;
  font-weight: 500;
  margin: 25px;
  height: 50px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  color: #fff;
  padding: 0 20px;
  box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

header {
  display: flex;
  justify-content: center;
  padding-top: 22px;
  padding-bottom: 10px;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.1);
  position: relative;
}
header img {
  height: 28px;
}

.field-search {
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 10px;
}
.field-search__icon {
  color: #353535;
  margin-right: 15px;
}
.field-search__text {
  border: none;
  background-color: #eaeaea;
  font-weight: 700;
  font-size: 1em;
  width: 130px;
  height: 30px;
}
.field-search__text::placeholder {
  color: #353535;
  opacity: 1;
  padding-left: 5px;
}

.website-info {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 40px;
  text-align: center;
}
.website-info__heading {
  margin: 7px;
}
.website-info__text {
  font-weight: 300;
  margin: 7px;
}

.section-process {
  padding: 50px 21px 55px 21px;
}

.process-allcards {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.process-card {
  background-color: #f6f6f6;
  border-radius: 20px;
  height: 72px;
  display: flex;
  align-items: center;
  margin: 12px 0;
  box-shadow: 4px 5px 12px 2px rgba(0, 0, 0, 0.1);
}
.process-card:hover {
  background-color: #f5edff;
}
.process-card__nbr {
  height: 25px;
  width: 25px;
  background-color: #9356DC;
  border-radius: 40px;
  color: #fff;
  text-align: center;
  line-height: 25px;
  position: absolute;
  left: 20px;
  font-size: 0.9em;
}
.process-card__icon {
  color: #7e7e7e;
  margin: 0 20px 0 35px;
}
.process-card p {
  font-weight: 700;
}

.section-restaurants {
  background-color: #f6f6f6;
  padding: 60px 21px;
}

.restaurants-allcards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.restaurants-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 4px 5px 12px 2px rgba(0, 0, 0, 0.1);
  width: 100%;
  position: relative;
  margin: 9px 0;
}
.restaurants-card__img {
  height: 175px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.restaurants-card__new {
  position: absolute;
  top: 15px;
  left: 243px;
  background-color: #99E2D0;
  color: #008766;
  height: 30px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  font-weight: 500;
  border-radius: 3px;
}
.restaurants-card__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.restaurants-card__text {
  display: flex;
  flex-direction: column;
}
.restaurants-card__icon {
  padding-right: 25px;
  font-size: 1.5em;
  opacity: 0.5;
}

/*# sourceMappingURL=style.css.map */
