.heart-icon { 
    padding: 10px;
    font-size: 1.7em;
}


      /* TEST ANIMATIONS */ 
        //&:hover {
        //    & > .heart-icon__progress-bar {
        //        transform: scaleY(1);
         //       animation-name: progress-bar;
           // opacity: 0;
           // animation: progress-bar 1000ms both;
           
       // }
            //transform: perspective(150px) translateZ(60px);
      //  transition: transform 500ms ease-in-out;
         /* TEST ANIMATIONS */ 
       // }

       /*
@keyframes progress-bar {
    0% {
        transform: scaleY(0);
    }
    15% {
        transform: scaleY(.7);
    }
    30% {
        transform: scaleY(.28);
    }
    50% {
        transform: scaleY(.63);
    }
    85% {
        opacity:1;
    }
    100% {
        transform: scaleY(1);
    }
}*/