.heart-icon { 
    padding: 10px;
    font-size: 1.7em;
    cursor: pointer;
}

.heart-icon--empty {
    position: absolute;
    z-index:2;
    color: $dark-grey;
    opacity:1;
    transition: opacity 700ms ease;
    background: #fff;
    &:hover {
        opacity:0;
    }
}

.menu-heading {
    .heart-icon--empty {
        background: $light-grey;
    }

}

.heart-icon--full {
    position: relative;
    z-index:1;
    background: linear-gradient(45deg, $color-secondary, $color-primary);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}


