body {
    font-family: 'roboto', sans-serif;
}

h1, h2 {
    font-size: 1.5em;
    font-weight: 900;
    margin-bottom: 15px;
}

h3 {
    font-weight: 700;
    font-size: 1.2em;
    margin-bottom: 3px;
}