.field-search {
    background-color: $mid-grey;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding : 10px;
    
    &__icon {
        color: $dark-grey;
        margin-right: 15px;
    }
    &__text{
      border: none;
        background-color: $mid-grey;
        font-weight: 700;
        font-size: 1em;
        width: 130px;
        height: 30px;
        &::placeholder {
            color: $dark-grey;
            opacity:1;
            padding-left: 5px;   
        }
    }
}

.website-info {
    background-color: $light-grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 40px;
    text-align: center;
    &__heading {
        margin: 7px;
    }
    &__text {
        font-weight: 300;
        margin: 7px;
    }
    
}

.section-process {
    padding: map-get($padding-top, process) map-get($paddingsLR, process-restau) map-get($padding-bottom, process) map-get($paddingsLR, process-restau);
    
}

.process-allcards {
    display: flex;
    flex-direction: column;
    padding: 0 map-get($paddingsLR, process-card);
}

.process-card {
    background-color: $light-grey;
    border-radius: 20px;
    height: 72px;
    display: flex;
    align-items: center;
    margin: 12px 0;
    box-shadow: 4px 5px 12px 2px rgb(0 0 0 / 10%);
    &:hover {
        background-color: #f5edff; // utiliser une fonction: eclaircir color primary ? + quand card hover : bg color change + icon color change
    }
    &__nbr{
        height: 25px;
        width: 25px;
        background-color: $color-primary;
        border-radius: 40px;
        color: #fff;
        text-align: center;
        line-height: 25px;
        position: absolute;
        left: 20px;
        font-size: 0.9em;
        
    }
    &__icon {
        color: #7e7e7e;
        margin: 0 20px 0 35px;
        
    }

    p {
        font-weight: 700;
    }
}

.section-restaurants {
    background-color: $light-grey;
    padding: map-get($padding-top, restau) map-get($paddingsLR, process-restau) ;
}

.restaurants-allcards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.restaurants-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 4px 5px 12px 2px rgb(0 0 0 / 10%);
    width: 100%;
    position: relative;
    margin: 9px 0;
    &__img {
        height: 175px;
        width: 100%;
        object-fit: cover;
        border-radius: 20px 20px 0 0,
    }
    &__new {
        position: absolute;
        top: 15px;
        right: 15px;
        background-color: $color-tertiary;
        color: #008766; //faire darken....
        height: 30px;
        width: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.8em;
        font-weight: 500;
        border-radius: 3px;
    }
    &__info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding: 15px;
    }
    &__text {
        display: flex;
        flex-direction: column;
    }
    &__icon {
        padding-right: 10px;
        font-size: 1.7em;
        opacity: 0.5;
    }
}

