// MIXINS RESPONSIVE
@mixin tablet { 
    @media all and (min-width: map-get($breakpoints, tablet)){
        @content;
    }
}

@mixin desktop-only {
    @media all and (min-width: map-get($breakpoints, desktop)){
        @content;
    }
}

// MIXINS PADDINGS DESKTOP
@mixin padding-desktop($padding: $padding-desktop){ 
    padding-left: $padding;
    padding-right: $padding;
}

//MIXINS BOX CARDS
@mixin layout-cards {
    border-radius: $border-radius-cards; 
    box-shadow: $box-shadow;
}

// MIXINS POUR PROPRIETES FLEXBOX
@mixin flex-row-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    @content
}

@mixin flex-lists {
    display: flex;
    flex-direction: column;
    @content
}

@mixin flex-align($align) {
    display: flex;
    align-items: $align;
    @content
}




