// MAPS

$paddingsLR: (process-restau:21px, footer:25px);
$padding-top: (process:50px, restau:60px, footer: 25px);
$padding-bottom: (process:55px, restau: 60px, footer: 40px);

$breakpoints: (tablet:760px, desktop:1090px);


// VARIABLES COULEURS

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$dark-grey : #353535;
$mid-grey: #eaeaea;
$light-grey: #f6f6f6;

