// PADDINGS
$padding-feature-restau: (vertical:55px, horizontal:21px);
$padding-desktop: 100px;

// RESPONSIVE
$breakpoints: (tablet:750px, desktop:1200px);

// VARIABLES COULEURS
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$dark-grey : #353535;
$mid-grey: #eaeaea;
$light-grey: #f6f6f6;



